pylds # for unit tests.
pytest 

# Pip installing from the git repo works, even though pip installing does not.
# This is because the master branch is far ahead of what has been published to pypi.
# See https://pypi.org/project/pyhsmm/#history for the pyhsmm release history.
# See https://github.com/lindermanlab/ssm/issues/155 for the issue with unit tests.
git+https://github.com/mattjj/pybasicbayes
git+https://github.com/mattjj/pyhsmm
git+https://github.com/mattjj/pylds

### Usual dev requirements
pip>=19.1.1
wheel
mock
pylint
coverage
flake8
ipython
isort; python_version >= '3.8'
pytest
pytest-cov
pytest-lazy-fixture
pytest-watch
pre-commit
black; python_version >= '3.8'